## Frames, Imports, Leituras e Tamanho dos Datasets

In [1]:
#Importar a biblioteca PANDA
import pandas as pd

In [2]:
#Leitura do arquivo e do dataset

df2012 = pd.read_csv("C:/Treinamento-Data-Science/Atividade 1/reclamacoes-fundamentadas-sindec-2012.csv")
df2013 = pd.read_csv("C:/Treinamento-Data-Science/Atividade 1/reclamacoes-fundamentadas-sindec-2013.csv")
df2014 = pd.read_csv("C:/Treinamento-Data-Science/Atividade 1/reclamacoes-fundamentadas-sindec-2014.csv")
df2015 = pd.read_csv("C:/Treinamento-Data-Science/Atividade 1/reclamacoes-fundamentadas-sindec-2015.csv")
df2016 = pd.read_csv("C:/Treinamento-Data-Science/Atividade 1/reclamacoes-fundamentadas-sindec-2016.csv")

C:\Users\mathe\AppData\Local\Temp\ipykernel_5232\3571816673.py:4: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df2013 = pd.read_csv("C:/Treinamento-Data-Science/Atividade 1/reclamacoes-fundamentadas-sindec-2013.csv")
C:\Users\mathe\AppData\Local\Temp\ipykernel_5232\3571816673.py:6: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df2015 = pd.read_csv("C:/Treinamento-Data-Science/Atividade 1/reclamacoes-fundamentadas-sindec-2015.csv")

In [3]:
# Mostra a quantidade de colunas e registros do Dataset
#Saber o tamanho do dataset
df2012.shape, df2013.shape, df2014.shape, df2015.shape, df2016.shape

((211076, 23), (268096, 23), (267764, 23), (255650, 23), (203486, 23))

In [5]:
# Cria a Lista chamada 'frames' e o shape obtém as dimensões do DataFrame
# Ela retorna uma tupla no formato (número de linhas, número de colunas).
# Portanto, cada elemento da lista "frames" será uma tupla contendo as dimensões de um DataFrame específico.
frames = [df2012.shape, df2013.shape, df2014.shape, df2015.shape, df2016.shape]

## As duas primeiras linhas dos Datasets

In [6]:
# As primeiras 2 linhas do dataset DF2012
df2012.head(2)

,AnoCalendario,DataArquivamento,DataAbertura,CodigoRegiao,Regiao,UF,strRazaoSocial,strNomeFantasia,Tipo,NumeroCNPJ,...,CNAEPrincipal,DescCNAEPrincipal,Atendida,CodigoAssunto,DescricaoAssunto,CodigoProblema,DescricaoProblema,SexoConsumidor,FaixaEtariaConsumidor,CEPConsumidor
0,2012,2012-07-13 17:44:45.000,2009-09-17 10:48:42.000,3,Sudeste,ES,IBI PROMOTORA DE VENDAS LTDA.,IBI CARD,1,7.448120e+13,...,7490104.0,ATIVIDADES DE INTERMEDIAÇÃO E AGENCIAMENTO DE ...,N,54,Cartão de Crédito,32,Calculo de prestação em atraso,F,mais de 70 anos,29072040
1,2012,2012-07-13 17:37:19.000,2009-09-17 10:02:24.000,3,Sudeste,ES,SAMSUNG ELETRONICA DA AMAZONIA LTDA,SAMSUNG,1,2.802730e+11,...,2640000.0,"FABRICAÇÃO DE APARELHOS DE RECEPÇÃO, REPRODUÇÃ...",N,101,"Telefone ( Convencional, Celular, Interfone, E...",102,"Garantia (Abrangência, cobertura, etc.)",M,entre 31 a 40 anos,29115360

In [7]:
# As primeiras 2 linhas do dataset DF2013
df2013.head(2)

,AnoCalendario,DataArquivamento,DataAbertura,CodigoRegiao,Regiao,UF,strRazaoSocial,strNomeFantasia,Tipo,NumeroCNPJ,...,CNAEPrincipal,DescCNAEPrincipal,Atendida,CodigoAssunto,DescricaoAssunto,CodigoProblema,DescricaoProblema,SexoConsumidor,FaixaEtariaConsumidor,CEPConsumidor
0,2013,2013-07-17 13:42:50.000,2013-06-27 10:41:31.000,3,Sudeste,MG,BOMSUCESSO,NaN,1,NaN,...,NaN,NaN,S,63,Financeira,217,Antecipação de Financiamento,F,entre 51 a 60 anos,35300038
1,2013,2013-01-16 09:31:19.000,2012-12-06 09:33:00.000,2,Nordeste,RN,LOJAS INSINUANTE,NaN,1,NaN,...,NaN,NaN,S,101,"Telefone ( Convencional, Celular, Interfone, E...",102,"Garantia (Abrangência, cobertura, etc.)",F,entre 41 a 50 anos,59617335

In [8]:
# As primeiras 2 linhas do dataset DF2014
df2014.head(2)

,AnoCalendario,DataArquivamento,DataAbertura,CodigoRegiao,Regiao,UF,strRazaoSocial,strNomeFantasia,Tipo,NumeroCNPJ,...,CNAEPrincipal,DescCNAEPrincipal,Atendida,CodigoAssunto,DescricaoAssunto,CodigoProblema,DescricaoProblema,SexoConsumidor,FaixaEtariaConsumidor,CEPConsumidor
0,2014,2014-02-14 09:15:38.000,2013-01-30 10:51:54.000,1,Norte,AC,ESMALTEC S/A,ESMALTEC,1,2.948030e+12,...,2751100.0,"FABRICAÇÃO DE FOGÕES, REFRIGERADORES E MÁQUINA...",S,94,Geladeira e Freezer,102,"Garantia (Abrangência, cobertura, etc.)",F,entre 41 a 50 anos,69905800.0
1,2014,2014-02-26 15:24:58.000,2013-03-26 14:40:43.000,1,Norte,AC,TERRA NETWORKS BRASIL S/A,TERRA SAO PAULO,1,9.108833e+13,...,6190601.0,PROVEDORES DE ACESSO ÀS REDES DE COMUNICAÇÕES,S,279,Informática (Ex.:Provedor de Acesso a Internet),194,Cobrança indevida/abusiva,M,entre 41 a 50 anos,69914381.0

In [9]:
# As primeiras 2 linhas do dataset DF2015
df2015.head(2)

,AnoCalendario,DataArquivamento,DataAbertura,CodigoRegiao,Regiao,UF,strRazaoSocial,strNomeFantasia,Tipo,NumeroCNPJ,...,CNAEPrincipal,DescCNAEPrincipal,Atendida,CodigoAssunto,DescricaoAssunto,CodigoProblema,DescricaoProblema,SexoConsumidor,FaixaEtariaConsumidor,CEPConsumidor
0,2015,2015-09-04 10:44:36.000,2015-02-25 11:46:05.000,3,Sudeste,SP,JÓIAS SANDIEGO,NaN,1,NaN,...,NaN,NaN,S,134,"Produto de Uso Pessoal ( Barbeador, Depilador,...",105.0,Produto com vício,F,entre 21 a 30 anos,14403500.0
1,2015,2015-03-10 14:54:45.000,2015-02-12 09:36:03.000,1,Norte,RO,AUTOVEMA VEICULOS LTDA,NaN,1,NaN,...,NaN,NaN,N,129,Carro Nacional Zero ( Montadora ),105.0,Produto com vício,M,entre 41 a 50 anos,76821592.0

In [10]:
# As primeiras 2 linhas do dataset DF2016
df2016.head(2)

,AnoCalendario,DataArquivamento,DataAbertura,CodigoRegiao,Regiao,UF,strRazaoSocial,strNomeFantasia,Tipo,NumeroCNPJ,...,CNAEPrincipal,DescCNAEPrincipal,Atendida,CodigoAssunto,DescricaoAssunto,CodigoProblema,DescricaoProblema,SexoConsumidor,FaixaEtariaConsumidor,CEPConsumidor
0,2016,2016-02-17 13:43:08.000,2015-10-29 10:59:59.000,2,Nordeste,PE,CVC BRASIL OPERADORA E AGENCIA DE VIAGENS S.A.,CVC,1,1.076026e+13,...,7911200.0,AGÊNCIAS DE VIAGENS,S,276,Agências e Operadoras de viagens (pacotes turí...,205.0,"Consulta Sobre Serviços (Pesquisa, cartilha, e...",M,entre 61 a 70 anos,52061540.0
1,2016,2016-12-15 18:11:35.000,2016-11-18 14:52:22.000,2,Nordeste,PE,GIORGIO ARMANI BRASIL COMERCIO,EMPORIO ARMANI,1,1.318050e+13,...,NaN,NaN,N,132,Vestuário ( Calçado / Roupa ),105.0,Produto com vício,F,entre 31 a 40 anos,51010140.0

## Lista dos Datasets

In [11]:
#Lista com os nomes dos datasets que serão concatenados
frames = [df2012, df2013, df2014, df2015, df2016]

## Concat dos Dataset, para combinar as informações que foram extraídas separadas

In [12]:
# pd.concat (Usar esse comando para concatenar)
df_full = pd.concat(frames)
df_full.shape

(1206072, 23)

## Verificar os dados concatenados com Sample e Info

In [13]:
# Exemplos coletados aleatoriamente no DF_Full
df_full.sample(10)

,AnoCalendario,DataArquivamento,DataAbertura,CodigoRegiao,Regiao,UF,strRazaoSocial,strNomeFantasia,Tipo,NumeroCNPJ,...,CNAEPrincipal,DescCNAEPrincipal,Atendida,CodigoAssunto,DescricaoAssunto,CodigoProblema,DescricaoProblema,SexoConsumidor,FaixaEtariaConsumidor,CEPConsumidor
76457,2014,2014-07-04 10:24:51.000,2014-05-21 16:47:27.000,4,Sul,SC,LOJAS COLOMBO,LOJAS COLOMBO SÃO JOSÉ,1,NaN,...,NaN,NaN,S,122,Móveis Para Quarto,106.0,Produto entregue diferente do pedido,F,até 20 anos,88110401.0
26286,2012,2012-08-15 16:44:39.000,2012-05-08 17:05:38.000,5,Centro-oeste,GO,SELLNET TECNOLOGIA EM COMUNICACOES LTDA,SELLNET TECNOLOGIA ( CLARO),1,8.394754e+12,...,4752100.0,COMÉRCIO VAREJISTA ESPECIALIZADO DE EQUIPAMENT...,S,101,"Telefone ( Convencional, Celular, Interfone, E...",102.0,"Garantia (Abrangência, cobertura, etc.)",M,entre 21 a 30 anos,74565100
30125,2014,2014-09-01 10:11:08.000,2014-06-07 08:11:17.000,3,Sudeste,ES,CLARO S.A.,CLARO,1,4.043254e+13,...,6120501.0,TELEFONIA MÓVEL CELULAR,N,187,Telefonia Celular,137.0,Venda/Oferta/publicidade enganosa.,F,entre 51 a 60 anos,NaN
182135,2016,2016-09-29 09:54:04.000,2016-08-26 09:21:38.000,2,Nordeste,PB,BLU DO BRASIL PRODUTOS DE TELECAÇÕES LTDA,NaN,1,1.351691e+13,...,4752100.0,COMÉRCIO VAREJISTA ESPECIALIZADO DE EQUIPAMENT...,S,187,Telefonia Celular,123.0,"Vicio de qualidade (mal executado, inadequado,...",F,entre 21 a 30 anos,58305080.0
78392,2013,2013-09-26 11:26:26.000,2013-08-05 10:32:33.000,2,Nordeste,PE,LEADRE S/A ADM DE CARTÕES DE CREDITO,LEADER,1,4.201672e+12,...,6613400.0,ADMINISTRAÇÃO DE CARTÕES DE CRÉDITO,S,54,Cartão de Crédito,216.0,Lançamento Não Reconhecido na Fatura,F,até 20 anos,53421321.0
20605,2012,2012-08-14 15:57:08.000,2012-02-16 12:44:02.000,5,Centro-oeste,GO,BANCO INTERMEDIUM SA,NaN,1,4.169680e+11,...,6422100.0,"BANCOS MÚLTIPLOS, COM CARTEIRA COMERCIAL",S,63,Financeira,250.0,Crédito Consignado,M,entre 51 a 60 anos,74303350
14368,2014,2014-10-17 11:46:35.000,2013-05-22 09:34:34.000,5,Centro-oeste,DF,BANCO BRADESCARD S.A.,BANCO BRADESCARD,1,4.184779e+12,...,6422100.0,"BANCOS MÚLTIPLOS, COM CARTEIRA COMERCIAL",S,54,Cartão de Crédito,28.0,Cobrança indevida.,M,entre 41 a 50 anos,71258140.0
221609,2015,2015-05-08 14:38:50.000,2015-01-16 15:21:34.000,3,Sudeste,SP,BANCO BMG S/A,NaN,1,6.118668e+13,...,6422100.0,"BANCOS MÚLTIPLOS, COM CARTEIRA COMERCIAL",N,53,Banco comercial,50.0,Consumidor negativado indevidamente nos serviç...,F,entre 61 a 70 anos,8410500.0
82675,2016,2016-12-30 11:40:58.000,2016-02-25 08:51:54.000,2,Nordeste,PB,NOVA PONTOCOM COMERCIO ELETRÔNICO S/A,EXTRA.COM - PONTOFRIO.COM - CASASBAHIA.COM,1,9.358108e+12,...,4713001.0,LOJAS DE DEPARTAMENTOS OU MAGAZINES,S,92,Máquina de Lavar Roupa / Louça e Secadora,260.0,Defeito/Risco à saúde e segurança,F,entre 21 a 30 anos,58070540.0
130693,2015,2015-11-26 15:29:56.000,2015-10-20 11:45:41.000,2,Nordeste,RN,TAM LINHAS AÉREAS S.A,TAM,1,2.012862e+12,...,5111100.0,TRANSPORTE AÉREO DE PASSAGEIROS REGULAR,S,276,Agências e Operadoras de viagens (pacotes turí...,190.0,"Reajuste abusivo (preço, taxa, mensalidade, etc.)",M,Nao Informada,59600000

In [24]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1206072 entries, 0 to 203485
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   AnoCalendario          1206072 non-null  int64
 1   DataArquivamento       1206072 non-null  object
 2   DataAbertura           1206072 non-null  object
 3   CodigoRegiao           1206072 non-null  int64
 4   Regiao                 1206072 non-null  object
 5   UF                     1206072 non-null  object
 6   strRazaoSocial         1206064 non-null  object
 7   strNomeFantasia        1006636 non-null  object
 8   Tipo                   1206072 non-null  int64
 9   NumeroCNPJ             1153518 non-null  float64
 10  RadicalCNPJ            1152390 non-null  float64
 11  RazaoSocialRFB         1137442 non-null  object
 12  NomeFantasiaRFB        547639 non-null   object
 13  CNAEPrincipal          1133380 non-null  float64
 14  DescCNAEPrincipal      1122261 non-null  object
 15  Atendida               1206072 non-null  object
 16  CodigoAssunto          1206072 non-null  int64
 17  DescricaoAssunto       1206072 non-null  object
 18  CodigoProblema         1206052 non-null  float64
 19  DescricaoProblema      1206052 non-null  object
 20  SexoConsumidor         1205101 non-null  object
 21  FaixaEtariaConsumidor  1206072 non-null  object
 22  CEPConsumidor          1123266 non-null  object
dtypes: float64(4), int64(4), object(15)
memory usage: 220.8+ MB

In [27]:
# Escreve o dataset df_full num arquivo csv -→ Comando para unificar os arquivos
# O parâmetro 'index=false' é utilizado para evitar inclusão do índice do dataframe no arquivo Excel
df_full.to_csv('C:/Treinamento-Data-Science/Atividade 1/df_full.csv', index=False)