## Aula de Python
### Variaveis

In [1]:
idade = 30

In [2]:
idade

30

In [ ]:
type(idade)

int

In [ ]:
idade = '30'

In [ ]:
type(idade)

str

In [ ]:
print(float(idade))

30.0

In [ ]:
idade2 = 40
idade3 = '20'

In [ ]:
print(idade, idade2, idade3)

30 40 20

In [ ]:
print(idade+idade2, idade3)

70 20

In [ ]:
print(idade+idade2+idade3) # Erro. Int com str não é possivel fazer a soma

90

In [ ]:
print(idade+idade2+int(idade3))

90

In [ ]:
var1, var2, var3 = 1, 2, 3

In [ ]:
text = "Uninove é sempre '10'!"

In [ ]:
text1 = 'Uninove é sempre "10"!'

In [ ]:
text1

'Uninove é sempre "10"!'

In [ ]:
text

"Uninove é sempre '10'!"

In [ ]:
# df = dataframe 
# df_filtrado 
# df_regionalizado
# df_segmento_x

In [ ]:
t = '' # variável que recebe texto da reclamação do cliente

In [ ]:
10 + 20

30

In [ ]:
10 - 20

-10

In [ ]:
10 * 20

200

In [ ]:
20 / 10

2.0

In [ ]:
10%2 # retorna resto da divisão do primeiro numero pelo segundo

0

In [ ]:
# Operadores logicos
dois = 2 # Um símbolo de igual, é atribuição

In [ ]:
dois == 2 # Dois simbolos de igual é uma comparação

True

In [ ]:
dois != 3 # Exclamação igual testa se os valores são diferentes

True

In [ ]:
dois >= 3, dois <= 3

(False, True)

#### Funções

In [ ]:
# Anatomia de uma função
### definição: nome, abre e fecha parenteses (entre parenteses pode conter variáveis de entrada) e dois pontos no final

def funcaoprint(param1, param2):
  print(param1 + param2) # Lógica da função

In [ ]:
funcaoprint('inteligencia', 'artificial')

inteligenciaartificial

In [ ]:
funcaoprint(40,50)

90

In [ ]:
listas = [1,2,3,4,5,6,7,8,9,0]
tupla = (1,2,3,4,5)
dicionário = {'nome': 'Leandro', 'Idade': 37}

In [ ]:
#mnemonico

var 1 = 2 # espaços entre os caracateres, Não funciona 
1var =  2 # Numeros antes do nome, Não funciona 
Var1 =  2 # Não recomendado, melhor seguir tudo minusculo
var1 = 2  # funciona, mas é simples demais, não diz o que é a variável

In [ ]:
sum(listas)

45

In [ ]:
len(listas)

10

In [ ]:
min(listas)

0

In [ ]:
max(listas)

9

In [ ]:
listas.append(10) # adicionar um valor na lista

In [ ]:
cadastro = [{'Nome': 'Leandro', 'Idade': 28, 'Notas': [10, 9, 8, 7, 3, 5]},
            {'Nome': 'Maria', 'Idade': 21, 'Notas': [10, 9, 8, 7, 3, 5]},
            {'Nome': 'Jose', 'Idade': 22, 'Notas': [10, 9, 8, 7, 3, 5]},
            {'Nome': 'Leonardo', 'Idade': 35, 'Notas': [10, 9, 8, 7, 3, 5]},
            {'Nome': 'Rafael', 'Idade': 18, 'Notas': [10, 9, 8, 7, 3, 5]},
            {'Nome': 'Lucas', 'Idade': 25, 'Notas': [10, 9, 8, 7, 3, 5]},
            {'Nome': 'Jennifer', 'Idade': 18, 'Notas': [10, 9, 8, 7, 3, 5]},
            {'Nome': 'Marcos', 'Idade': 20, 'Notas': [10, 9, 8, 7, 3, 5]}]

In [ ]:
cadastro[0]['Nome']

'Leandro'

#### Estruturas Condicionais

In [ ]:
pessoas_conhecidas = ['Caio', 'Vianê', 'Murilo', 'João']

pessoa = input('Entre com o nome de alguém:')

if pessoa in pessoas_conhecidas:
  print('Voce conhece essa pessoa')
else:
  print('Voce não conhece essa pessoa')

Entre com o nome de alguém:Leandro
Voce não conhece essa pessoa

#### Looping

In [ ]:
listas = [1,2,3,4,5,6,7,8,9,0]

In [ ]:
for i in listas:
  print(i)

1
2
3
4
5
6
7
8
9
0

#### Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Treinamento-Data-Science/Atividade 1/train.csv')

In [3]:
# As primeiras 4 linhas do dataset
df.head(4)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no

In [4]:
# As últimas 5 linhas
df.tail(5)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
4245,MT,83,area_code_415,no,no,0,188.3,70,32.01,243.8,88,20.72,213.7,79,9.62,10.3,6,2.78,0,no
4246,WV,73,area_code_408,no,no,0,177.9,89,30.24,131.2,82,11.15,186.2,89,8.38,11.5,6,3.11,3,no
4247,NC,75,area_code_408,no,no,0,170.7,101,29.02,193.1,126,16.41,129.1,104,5.81,6.9,7,1.86,1,no
4248,HI,50,area_code_408,no,yes,40,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,9.9,5,2.67,2,no
4249,VT,86,area_code_415,no,yes,34,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,9.3,16,2.51,0,no

In [5]:
# Exemplos coletados aleatoriamente no Train
df.sample(5)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
3271,ND,57,area_code_415,yes,no,0,227.4,94,38.66,146.4,115,12.44,211.4,92,9.51,8.3,5,2.24,1,no
945,NY,167,area_code_415,no,no,0,166.4,85,28.29,243.2,135,20.67,229.2,95,10.31,9.9,5,2.67,1,no
1200,AK,141,area_code_408,no,no,0,83.2,74,14.14,190.6,104,16.20,150.5,79,6.77,10.7,7,2.89,1,no
1803,MS,69,area_code_510,no,yes,27,268.8,78,45.70,246.6,89,20.96,271.9,102,12.24,16.4,3,4.43,0,no
1603,KY,131,area_code_415,no,no,0,166.5,129,28.31,210.2,107,17.87,257.2,93,11.57,9.9,5,2.67,1,no

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          4250 non-null   object
 1   account_length                 4250 non-null   int64
 2   area_code                      4250 non-null   object
 3   international_plan             4250 non-null   object
 4   voice_mail_plan                4250 non-null   object
 5   number_vmail_messages          4250 non-null   int64
 6   total_day_minutes              4250 non-null   float64
 7   total_day_calls                4250 non-null   int64
 8   total_day_charge               4250 non-null   float64
 9   total_eve_minutes              4250 non-null   float64
 10  total_eve_calls                4250 non-null   int64
 11  total_eve_charge               4250 non-null   float64
 12  total_night_minutes            4250 non-null   float64
 13  total_night_calls              4250 non-null   int64
 14  total_night_charge             4250 non-null   float64
 15  total_intl_minutes             4250 non-null   float64
 16  total_intl_calls               4250 non-null   int64
 17  total_intl_charge              4250 non-null   float64
 18  number_customer_service_calls  4250 non-null   int64
 19  churn                          4250 non-null   object
dtypes: float64(8), int64(7), object(5)
memory usage: 664.2+ KB

In [7]:
# Estatisticas do dataset
df.describe(include='O')

       state      area_code international_plan voice_mail_plan churn
count   4250           4250               4250            4250  4250
unique    51              3                  2               2     2
top       WV  area_code_415                 no              no    no
freq     139           2108               3854            3138  3652

In [8]:
# Filtrando dataset 
cols = ['churn', 'state', 'account_length', 'area_code', 'international_plan']
df[cols]

     churn state  account_length      area_code international_plan
0       no    OH             107  area_code_415                 no
1       no    NJ             137  area_code_415                 no
2       no    OH              84  area_code_408                yes
3       no    OK              75  area_code_415                yes
4       no    MA             121  area_code_510                 no
...    ...   ...             ...            ...                ...
4245    no    MT              83  area_code_415                 no
4246    no    WV              73  area_code_408                 no
4247    no    NC              75  area_code_408                 no
4248    no    HI              50  area_code_408                 no
4249    no    VT              86  area_code_415                 no

[4250 rows x 5 columns]

In [9]:
df[cols].loc[df['account_length'] >= 50]

     churn state  account_length      area_code international_plan
0       no    OH             107  area_code_415                 no
1       no    NJ             137  area_code_415                 no
2       no    OH              84  area_code_408                yes
3       no    OK              75  area_code_415                yes
4       no    MA             121  area_code_510                 no
...    ...   ...             ...            ...                ...
4245    no    MT              83  area_code_415                 no
4246    no    WV              73  area_code_408                 no
4247    no    NC              75  area_code_408                 no
4248    no    HI              50  area_code_408                 no
4249    no    VT              86  area_code_415                 no

[3821 rows x 5 columns]

In [10]:
df.loc[(df['account_length'] >= 50) & (df['total_day_minutes'] == 0)]

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
1138,SD,98,area_code_415,no,no,0,0.0,0,0.0,159.6,130,13.57,167.1,88,7.52,6.8,1,1.84,4,yes
1183,VT,101,area_code_510,no,no,0,0.0,0,0.0,192.1,119,16.33,168.8,95,7.60,7.2,4,1.94,1,no

## Merge and Concat Datasets (Usar para fazer o 1° exercício)

In [ ]:
#Importar a biblioteca PANDA
import pandas as pd

In [12]:
#Não usar este
df1 = df.sample(1000)
df2 = df.sample(200)

In [14]:
#Exemplo mais simples do professor
#Leitura do arquivo e do dataset
df1 = pd.read_csv('C:/Treinamento-Data-Science/Atividade 1/train.csv')
df2 = pd.read_csv('C:/Treinamento-Data-Science/Atividade 1/train.csv')

In [15]:
#Exemplo mais simples do professor
#Saber o tamanho do dataset
df1.shape, df2.shape

((4250, 20), (4250, 20))

In [17]:
# Cria uma lista chamada "frames" que contém dois dataframes, "df1" e "df2".
frames = [df1, df2]

In [18]:
# Mostra a quantidade de colunas e registros do Dataset
df1.shape, df2.shape

((4250, 20), (4250, 20))

In [19]:
# Exibe duas primeiras linhas do dataset DF1
df1.head(2)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no

In [20]:
# Exibe duas primeiras linhas do dataset DF2
df2.head(2)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no

In [21]:
# Lista com os nomes dos datasets que serão concatenados
frames = [df1, df2]

In [22]:
# pd.concat (Usar esse comando para concatenar)
df_full = pd.concat(frames)
df_full.shape

(8500, 20)

#### Não entra na atividade

In [23]:
# Escreve o dataset df_full num arquivo CSV
df_full.to_csv('C:/Treinamento-Data-Science/Atividade 1/train.csv')

In [24]:
df_full = pd.concat(frames, axis=1, join='inner') #Righ, Left

In [25]:
# Merge dos datasets
compras = pd.DataFrame(
    {
        "cliente_id": ['001', '002', '003', '004', '005', ],
        "produto": ['Macbook Air', 'iPhone X', 'Macbook Pro', 'AirPods', 'Apple Watch', ],
        "preço": [11500, 4500, 15000, 950, 3700]
    }
)

In [26]:
# Ver a tabela de Compras
compras

  cliente_id      produto  preço
0        001  Macbook Air  11500
1        002     iPhone X   4500
2        003  Macbook Pro  15000
3        004      AirPods    950
4        005  Apple Watch   3700

In [27]:
cadastro = pd.DataFrame(
    {
        "cliente": ['001','002','003','004','005'],
        "regiao": ['zona norte', 'zona sul', 'zona leste', "centro", "zona oeste"],
        "telefone": ['11 99999-9999', '11 88888-8888', '11 77777-7777', '66666-6666', '11 66666-6666'],
    }
)

In [28]:
cadastro

  cliente      regiao       telefone
0     001  zona norte  11 99999-9999
1     002    zona sul  11 88888-8888
2     003  zona leste  11 77777-7777
3     004      centro     66666-6666
4     005  zona oeste  11 66666-6666

In [29]:
# MERGE
df_cliente = pd.merge(compras, cadastro, left_on='cliente_id', right_on='cliente')

In [30]:
df_cliente

  cliente_id      produto  preço cliente      regiao       telefone
0        001  Macbook Air  11500     001  zona norte  11 99999-9999
1        002     iPhone X   4500     002    zona sul  11 88888-8888
2        003  Macbook Pro  15000     003  zona leste  11 77777-7777
3        004      AirPods    950     004      centro     66666-6666
4        005  Apple Watch   3700     005  zona oeste  11 66666-6666